html, body {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color: gray;
}
a:hover {
	text-decoration: none;
	color: cadetblue;
}
p {
	text-align: justify;
}

div#pageContainer {
	/*background-color: beige;*/
}
div.image-fit {
	height: 100%;
	background-size: cover;
}

.row:not(#header) {
	margin-top: 50px;
	margin-bottom: 50px;
}
div.info {
	padding: 30px;
}
img.icon {
	height: 30px;
	width: 30px;
}

#header img.logo {
	height: 70px;
	width: 70px;
}
#header .navbar-button {
	margin: 10px 10px 10px -10px;		/* negative left margin to align options below header logo */
}
#header .navbar-button a {
	padding: 20px;
}
#logo span {
	padding: 0px 0px 0px 10px;
}

#firstScreen div.col-sm-4 {
	text-align: center;
}
#firstScreen .affiliation img.logo {
	margin: 15px 30px;
	float: left;
	height: 60px;
}

#firstScreen .date {
	font-size: 24px;
	color: teal;
}

#boxes .box {
	outline: 1px solid lightgreen;
	margin: 10px;
	padding: 20px;
	/*min-height: ;*/
}

#boxes .box p {
	/*text-align: justify;*/
}

#lastYear div.image-fit {
	background-image: url("/image/last-year.png");
}

#sponsor img.logo {
	margin: 20px;
	height: 100px;
	float: left;
}

#venue div.image-fit {
	background-image: url("/image/venue.png");
}

#footer {
	padding: 15px 0px;
}
#footer img.icon {
	margin: 0px 5px;
	float: right;
}
#footer div.social-media-icons {
	float: right;
}